<div id="about">
<div class="col-lg-7">
	<div class="col-lg-3">
		<div class="avatar">
			<img src="../../assets/images/chad.png" alt="Richard Lamoste"/>
		</div>
	</div>
	<div class="col-lg-8">
		<h1>{{about.title}}</h1>
		<!-- <p data-ng-bind-html="aboutHTML"></p> -->
		<p>I'm a talented front-end developer saying hello from Philippines. I'm always hungry for new challenges and would love to be part of an exciting and wonderful projects.</p>
		<p>I have had worked with different clients from UK, USA, AU and HK, managing multiple projects as a freelancer.</p>
		<p>If you need my help with your project please don't hesitate to contact me.</p>
		<a href="/#/contact" class="btn btn-default">Let's Talk</a>
	</div>
</div>
<div class="col-lg-5">
	<div class="col-lg-12">
	<ul class="fa col-lg-6 code">
		<li>Code</li>
		<li>HTML5, CSS3</li>
		<li>SASS, LESS</li>
		<li>BOOTSTRAP</li>
		<li>AJAX, XML, JSON</li>
		<li>JS, JQUERY, ANGULARJS</li></li>
		<li>GIT, GITHUB, GRUNT, BOWER</li>
		<li>PHP, MYSQL</li>
	</ul>
	<ul class="fa col-lg-6 design">
		<li>Design</li>
		<li>Logo</li>
		<li>Icon</li>
		<li>Mockup</li>
		<li>Banner</li>
		<li>Business Card</li>
		<li>Brochure</li>
		<li>Letterhead</li>
	</ul>
	<ul class="fa col-lg-6 wordpress">
		<li>Wordpress</li>
		<li>Genesis, Startbox, Bones</li>
		<li>Woocommerce</li>
		<li>GravityForms</li>
		<li>AdvanceCustomFields</li>
		<li>CustomPostTypes</li></li>
	</ul>
	<ul class="fa col-lg-6 email">
		<li>Email</li>
		<li>MailChimp</li>
		<li>CampaignMonitor</li>
	</ul>
	</div>	
</div>
</div>