<div id="works">
<div class="wrap container-fluid active" scroll>
<div class="col-lg-7">	
	<div class="work">
		<div>
			<img src="../../assets/images/work-1.jpg" alt="Skin Script"/>
		</div>
	</div>
	<div class="workb">
		<div>
			<img src="../../assets/images/work-1b.jpg" alt="Skin Script"/>
		</div>
	</div>
</div>
<div class="col-lg-5">
	<h1>Skin Script
		<small>
		<a href="http://www.skinscriptrx.com" target="_blank" rel="nofollow">www.skinscriptrx.com</a>
		</small>
	</h1>
	<p>This is a re-design of the client's old website. I migrated their content from old CMS to WordPress. I made the design clean and simple to showcase their products and other services.</p>
	<h2>Services Rendered:</h2>
	<ul class="fa col-lg-6 code">
		<li>Code</li>
		<li>HTML5, CSS3</li>
		<li>JS, JQUERY</li>
		<li>PHP</li>
	</ul>
	<ul class="fa col-lg-6 design">
		<li>Design</li>
		<li>Icon</li>
		<li>Mockup</li>
		<li>Banner</li>
	</ul>	
	<ul class="fa col-lg-6 wordpress">
		<li>Wordpress</li>
		<li>Genesis</li>
		<li>Woocommerce</li>
		<li>GravityForms</li>
		<li>AdvanceCustomFields</li>
	</ul>
</div>
</div><!-- container-fluid -->
<div class="wrap container-fluid" scroll>
<div class="col-lg-7">	
	<div class="work">
		<div>
			<img src="../../assets/images/work-2.jpg" alt="Integrity Home Warranty"/>
		</div>
	</div>
	<div class="workb">
		<div>
			<img src="../../assets/images/work-2b.jpg" alt="Integrity Home Warranty"/>
		</div>
	</div>
</div>
<div class="col-lg-5">
	<h1>Integrity Home Warranty
		<small>
		<a href="http://www.integrityhw.com" target="_blank" rel="nofollow">www.integrityhw.com</a>
		</small>
	</h1>
	<p>Another re-design and migration project. I handled the design process from logo, mockup, icons and other graphics needed for the website. I built a custom theme in WordPress and added functionality to make it easier for the client to update/edit.</p>
	<h2>Services Rendered:</h2>
	<ul class="fa col-lg-6 code">
		<li>Code</li>
		<li>HTML5, CSS3</li>
		<li>JS, JQUERY</li>
		<li>PHP</li>
	</ul>
	<ul class="fa col-lg-6 design">
		<li>Design</li>
		<li>Icon</li>
		<li>Mockup</li>
		<li>Banner</li>
	</ul>	
	<ul class="fa col-lg-6 wordpress">
		<li>Wordpress</li>
		<li>GravityForms</li>
		<li>AdvanceCustomFields</li>
	</ul>
</div>
</div><!-- container-fluid -->
<div class="wrap container-fluid" scroll>
<div class="col-lg-7">	
	<div class="work">
		<div>
			<img src="../../assets/images/work-3.jpg" alt="Tenfold Creative"/>
		</div>
	</div>
	<div class="workb">
		<div>
			<img src="../../assets/images/work-3b.jpg" alt="Tenfold Creative"/>
		</div>
	</div>
</div>
<div class="col-lg-5">
	<h1>Tenfold Creative 
		<small>
		<a href="http://www.tenfoldcreative.co.nz" target="_blank" rel="nofollow">www.tenfoldcreative.co.nz</a>
		</small>
	</h1>
	<p>This is one of my favourite website that I have worked with. I handled the front-end development and some back-end development too. This was a very challenging website and I’m glad that I’m part of this wonderful project. 
</p>
	<h2>Services Rendered:</h2>
	<ul class="fa col-lg-6 code">
		<li>Code</li>
		<li>HTML5, CSS3</li>
		<li>JS, JQUERY</li>
		<li>PHP</li>
	</ul>
	<ul class="fa col-lg-6 wordpress">
		<li>Wordpress</li>
		<li>Genesis</li>
		<li>GravityForms</li>
		<li>AdvanceCustomFields</li>
	</ul>
</div>
</div><!-- container-fluid -->
<div class="wrap container-fluid" scroll>
<div class="col-lg-7">	
	<div class="work">
		<div>
			<img src="../../assets/images/work-4.jpg" alt="Marley"/>
		</div>
	</div>
	<div class="workb">
		<div>
			<img src="../../assets/images/work-4b.jpg" alt="Marley"/>
		</div>
	</div>
</div>
<div class="col-lg-5">
	<h1>Marley
		<small>
		<a href="http://www.marley.co.nz" target="_blank" rel="nofollow">www.marley.co.nz</a>
		</small>
	</h1>
	<p>Marley is a plastics manufacturing company in New Zealand. I handled the front-end and back-end development, I have built some custom functionalities that the client requested.</p>
	<p><em>Special Requests:</em></p>
	<ul class="custom">
		<li>
			<a href="http://marley.co.nz/takeover/" target="_blank" rel="nofollow">Website Take Over Banner Ad</a><br/>
			<small>Built a custom take over ad that stores data clicks in PHP generated XML file via AJAX call.</small>
		</li>
		<li>
			<a href="http://www.marley.co.nz/knowledge-hub/cad-details/" target="_blank" rel="nofollow">Dynamic Filter + Multi Download</a><br/>
			<small>Built a custom filter and multi download functionality that stores file in a zip.</small>
		</li>
	</ul>
	<h2>Services Rendered:</h2>
	<ul class="fa col-lg-6 code">
		<li>Code</li>
		<li>HTML5, CSS3</li>
		<li>JS, JQUERY</li>
		<li>AJAX, XML, JSON</li>
		<li>PHP</li>
	</ul>
	<ul class="fa col-lg-6 wordpress">
		<li>Wordpress</li>
		<li>Genesis</li>
		<li>Woocommerce</li>
		<li>GravityForms</li>
		<li>AdvanceCustomFields</li>
	</ul>
</div>
</div><!-- container-fluid -->
<div class="wrap container-fluid" scroll>
<div class="col-lg-7">	
	<div class="work">
		<div>
			<img src="../../assets/images/work-5.jpg" alt="Mercer"/>
		</div>
	</div>
	<div class="workb">
		<div>
			<img src="../../assets/images/work-5b.jpg" alt="Mercer"/>
		</div>
	</div>
</div>
<div class="col-lg-5">
	<h1>Mercer
		<small>
		<a href="http://mercerreport.annualreport.net.nz" target="_blank" rel="nofollow">mercerreport.annualreport.net.nz</a>
		</small>
	</h1>
	<p>I handled the front-end and back-end development for this one-page website. This is fully responsive and works on all major browsers. A challenging yet exciting project that I have worked with.
</p>
	<p><em>Special Requests:</em></p>
	<ul class="custom">
		<li>
		<a href="http://mercerreport.annualreport.net.nz/#investment-performance/1" target="_blank" rel="nofollow">
		Animated Graph</a><br/><small>Added animation for graphs powered by CanvasJS.</small></li>
		<li><a href="http://mercerreport.annualreport.net.nz/#year-in-review/1" target="_blank" rel="nofollow">Animated Counter</a><br/><small>Added animation for counters.</small></li>
	</ul>
	<h2>Services Rendered:</h2>
	<ul class="fa col-lg-6 code">
		<li>Code</li>
		<li>HTML5, CSS3</li>
		<li>JS, JQUERY</li>
		<li>PHP</li>
	</ul>
	<ul class="fa col-lg-6 wordpress">
		<li>Wordpress</li>
		<li>Genesis</li>
		<li>GravityForms</li>
		<li>AdvanceCustomFields</li>
	</ul>
</div>
</div><!-- container-fluid -->
<div class="wrap container-fluid" scroll>
<div class="col-lg-7">	
	<div class="work">
		<div>
			<img src="../../assets/images/work-6.jpg" alt="PitaPit"/>
		</div>
	</div>
</div>
<div class="col-lg-5">
	<h1>PitaPit
		<small>
		<a href="http://www.pitapit.co.nz" target="_blank" rel="nofollow">www.pitapit.co.nz</a>
		</small>
	</h1>
	<p>I helped other developers in making changes and updates to this website. I built some interesting functionality like location filter and nutrition calculator. It was a great experience and I have learned a lot from this project.</p>
	<p><em>Special Requests:</em></p>
	<ul class="custom">
		<li>
		<a href="http://www.pitapit.co.nz/nutrition" target="_blank" rel="nofollow">Nutrition Calculator</a><br/>
		<small>Built a nutrition calculator that retreives data from XML file.</small></li>
		<li><a href="http://www.pitapit.co.nz/stores" target="_blank" rel="nofollow">Dynamic Filter</a><br/>
		<small>Built a custom filter for store locations.</small></li>
	</ul>
	<h2>Services Rendered:</h2>
	<ul class="fa col-lg-6 code">
		<li>Code</li>
		<li>XHTML, CSS</li>
		<li>JS, JQUERY</li>
		<li>PHP</li>
	</ul>
	<ul class="fa col-lg-6 wordpress">
		<li>Wordpress</li>
		<li>GravityForms</li>
		<li>AdvanceCustomFields</li>
	</ul>
</div>
</div><!-- container-fluid -->
<i class="fa fa-arrow-circle-up" aria-hidden="true" scroll-to-item scroll-to="#container">scroll top</i>
</div>